.create_button {
    border: 2px solid var(--dark-gray);
    background: var(--light-blue);
    padding: 2px 18px;
    color: var(--dark-gray);
    border-radius: 4px;
    float: right;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    cursor: pointer;
}

.create_button:hover,
.create_button:focus {
    background-color: var(--dark-gray);
    color: white;
}