.edit_button {
    background: none;
    background-size: cover;
    padding: 0;
    border: none;
    height: 32px;
    width: 100%;
    transition: transform 0.2s;
    cursor: pointer;
}

.edit_button:hover {
    transform: scale(1.15);
}