.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
}

.table>thead {
    background: var(--dark-gray);
    color: white;
}

.table>tbody>tr {
    background: var(--light-blue);
    color: var(--dark-gray);   
}
